<template>
  <v-btn :color="color" @click="click"><slot></slot></v-btn>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class AppInput extends Vue {
  @Prop() private color!: 'primary' | 'secondary' | 'accent' | 'success' | 'warning' | 'error' | 'info';

  @Emit()
  click() {
    // just emiting event
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
