<template>
  <v-text-field solo :value="value" @input="input($event)" :label="label"></v-text-field>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class AppInput extends Vue {
  @Prop() private label!: string;
  @Prop() private value!: string;

  @Emit()
  input(_value: string) {
    // just emiting event
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
