<template>
  <div class="home">
    <div class="test"></div>
    <img alt="Vue logo" src="@/shared/assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/shared/components/HelloWorld.vue'; // @ is an alias to /src
import { namespace } from 'vuex-class';
const User = namespace('User');

@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {
  @User.State
  public name!: string;

  @User.Action
  public updateName!: (newName: string) => void;
}
</script>

<style scoped>
.test {
  width: 80vw;
  height: 100px;
  border-radius: 12px;
  background: var(--v-primary);
  margin: 0 auto;
  border: 2px solid #000;
}
</style>
