<template>
  <v-app>
    <v-app-bar app>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  // vars
  --v-primary: var(--v-primary-base);
  --v-secondary: var(--v-secondary-base);
  --v-accent: var(--v-accent-base);
  --v-error: var(--v-error-base);
  --v-info: var(--v-info-base);
  --v-success: var(--v-success-base);
}
</style>
