<template>
  <v-container>
    <v-form>
      <!-- <v-text-field label="email" solo></v-text-field>
      <v-text-field label="password" solo></v-text-field> -->

      <app-input label="email" v-model="email"></app-input>
      <app-input label="password" v-model="password"></app-input>

      <app-button color="primary" @click="login()">login</app-button>
    </v-form>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
const User = namespace('User');

@Component({})
export default class Login extends Vue {
  email: string = '';
  password: string = '';

  @User.Action
  public loginUser!: (email: string, password: string) => void;

  login() {
    // console.log(this.email);
    this.loginUser(this.email, this.password);
  }
}
</script>

<style scoped></style>
